apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-deploy
  namespace: my-app
  labels:
    app: nginx
spec:
  replicas: 3
  selector:
    matchLabels:
      app: nginx
  template:
    metadata:
      labels:
        app: nginx
    spec:
      containers:
      - name: my-nginx
        image: nginx:alpine
        ports:
          - containerPort: 80
